@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
.container{
    max-width: 1320px;
    margin: auto;
}
.col-1{
    width: 8.3%;
    flex: 0 0 auto;
}
.col-2{
    width: 16.6%;
    flex: 0 0 auto;
}
.col-3{
    width: 25%;
    flex: 0 0 auto;
}
.col-4{
    width: 33.3%;
    flex: 0 0 auto;
}
.col-5{
    width: 41.6%;
    flex: 0 0 auto;
}
.col-6{
    width: 50%;
    flex: 0 0 auto;
}
.col-7{
    width: 58.3%;
    flex: 0 0 auto;
}
.col-8{
    width: 66.6%;
    flex: 0 0 auto;
}
.col-9{
    width: 75%;
    flex: 0 0 auto;
}
.col-10{
    width: 83.3%;
    flex: 0 0 auto;
}
.col-11{
    width: 91.6%;
    flex: 0 0 auto;
}
.col-12{
    width: 100% !important;
    flex: 0 0 auto;
}
.p-1{
    padding: 10px 20px;
}
.p-service{
    padding: 0 10px;
}
.row{
    display: flex;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
body{
    font-family: "Mitr",sans-serif;
    padding: 0;
    margin: 0;
}
.textCenter{
    text-align: center !important;
}
.head_nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 10;
}
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
}
.head_nav .fix {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    background-color: #fff4f2;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}
.leftMenu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.rightMenu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 12px;
    display: inline-block;
    position: relative;
    list-style: none;
    text-align: -webkit-match-parent;
}
li a {
    color: #4d312c;
    font-weight: 600;
    padding: 15px 5px;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: normal;
    position: relative;
    text-decoration:none;
}
.navigation> li:hover>a {
    color: #fe5f41;
}
.header-btn{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
.header-btn2{
    text-transform: inherit;
    background: #fe5f41;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-btn2 img{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.header-btn2:hover{
    color: #000 !important;
}
.button-header{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    color: #fff !important;
}
.buttons li{
    list-style: none;
}
.buttons ul{
    padding: 0;
    margin: 0;
}
.slider{
    display: flex;
    margin-top: -7%;
    justify-content: center;
    justify-items: center;
    background-color: #fff4f2;
    width: 100%;
}
.imageSlider{
    width: 45%;
}
.imageSlider img{
    width: 100%;
}
.content{
    margin: auto;
    width: 40%;
}
.content h1{
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
    display: block;
}
.content p{
    margin-bottom: 40px;
    display: block;
    font-size: 20px;
}
.button{
    padding: 19px 56px;
    background-color: #fe5f41;
    border-radius: 30px;
    color:#fff;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.button:hover{
    padding: 19px 56px;
    background-color: #9b5f3c;
    border-radius: 30px;
    color:#fff;
    outline: none;
    border: none;
}
.video{
    padding: 19px 56px;
    background-color: #ffffff00;
    border-radius: 30px;
    color:#fe5f41;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}
.video img{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.bannerFooter{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}   
.bannerFooter img{
    padding: 0;
    margin: 0;
    position: relative;
    width: auto;
    max-width: 25%;
}
.socialBaner{
    transition: all .4s ease-out 0s;
    font-family: "Mitr",sans-serif;
    margin: 0 auto;
    text-align: center;
    bottom: -85%;
    transform: translateY(-50%);
    z-index: 2;
    display: inline-block;
    border-radius: 30px;
    background: #fff;
    font-size: 18px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    left: 0;
    right: 0;
    position: absolute;
}
.socialBaner a {
    text-decoration: none;
    color: #fe5f41;
}   
.location-house .insta-btn i {
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
}
.footer{
    background-color: #fff4f2;
}
.paddingFooter{
    padding-top: 80px;
    padding-bottom: 0;
    justify-content: space-between;
}
.logoFooter{
    margin-bottom: 35px;
}
.contentFooter p{
    color: #5e5e5e;
    font-size: 16px;
    margin-bottom: 21px;
    line-height: 1.8;
    font-family: "Raleway",sans-serif;
}
.footerTitle h4{
    color: #000;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 300;
    margin-top: 0;
    font-style: normal;
    line-height: 1.2;
}
.footerTitle p{
    color: #5e5e5e;
    font-size: 16px;
}
.borderFooter{
    padding-top: 70px;
    padding-bottom: 1px;
}
.listMenu ul{
    margin: 0;
    padding: 0;
}
.listMenu ul li{
    margin-bottom: 15px;
    list-style: none;
    width: 100%;
    margin-left: 0;
    padding: 0;
}
.listMenu ul li a{
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline transparent;
    margin: 0;
    padding: 0;
}
.listMenu ul li a:hover {
    color: #fe5f41;
    text-decoration: underline;
}
.phone{
    font-size: 24px!important;
    color: #fe5f41!important;
    margin-bottom: 10px;
    font-weight: 400!important;
    display: block;
    font-family: "Raleway",sans-serif;
}
.phone2{
    font-family: "Raleway",sans-serif;
    font-size: 14px!important;
    color: #fe5f41!important;
    margin-bottom: 5px;
    display: block;
}
.section-tittle{
    text-align: center;
}
.centerContent{
    justify-content: center!important;
}
.section-tittle h2 {
    font-size: 44px;
    display: block;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Mitr",sans-serif;
    color: #4d312c;
    margin-top: 0;
    font-style: normal;
}
.section-tittle p {
    color: #94817e;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Raleway",sans-serif;
    margin-bottom: 15px;
}
.ourService{
    padding-top: 120px;
    padding-bottom: 120px;
}
.single-services{
    padding: 47px 46px 36px 46px;
    background-color: #fff;
    border: 1px solid #e6dad8;
    border-radius: 10px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.services-cap {
    padding: 0 16px;
}
.services-icon{
    text-align: center;
    padding: 0 16px;
}
.services-cap h5{
    font-family: "Mitr",sans-serif;
    color: #4d312c;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
}
.services-cap p {
    font-family: "Raleway",sans-serif;
    color: #94817e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
}
img, svg {
    vertical-align: middle;
}
.services-icon img {
    text-align: center;
    margin-bottom: 35px;
}
.services-cap h5 a {
    font-weight: 600;
    font-size: 26px;
    color: #4d312c;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
}
.single-services:hover h5 a {
    color: #fe5f41;
    text-decoration: none;
}
/* Tab */
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
.justify-content-between{
    justify-content: space-between;
}
.section-tittle2 h2 {
    color: #fff;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 500;
}
.section-tittle2{
    text-align: left;
}
.btn{
    background: #fe5f41;
    font-family: "Mitr",sans-serif;
    text-transform: inherit!important;
    padding: 22px 32px;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px!important;
    font-weight: 500!important;
    border-radius: 35px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    text-decoration: none;
}
.btn:hover {
    color: #fff!important;
}
.btn:hover {
    color: #212529;
}
a:focus, a:hover {
    text-decoration: none;
}
a:hover {
    color: #fff;
}
.full-menu {
    padding: 35px 55px;
}
.f-right {
    float: right;
}
.nav-button .nav-tabs {
    margin-bottom: 70px;
    padding-bottom: 0;
    position: relative;
    border-bottom: 1px solid #94817e;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-button .nav-tabs .nav-link {
    font-family: "Mitr",sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    padding: 17px 5px;
    padding-top: 0;
    border-bottom: 4px solid transparent;
    margin-right: 43px;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out;
}
.nav-button .nav-tabs .nav-link.active {
    color: #fe5f41;
    border-bottom: 4px solid #fe5f41;
    background: none;
}
.tab-content>.active {
    display: block;
}
.fade {
    transition: opacity .15s linear;
}.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.items-active button.slick-arrow {
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    background: none;
}
.items-active button.slick-prev {
    left: -10px;
}
.items-active button.slick-prev {
    left: -40px;
}
.items-active button.slick-prev {
    left: -10px;
}
.items-active button.slick-arrow i {
    font-size: 30px;
    color: rgba(230,218,216,.2);
    transition: all .2s ease-out 0s;
}
.fa, .fas {
    font-weight: 900;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-initialized .slick-slide {
    outline: 0;
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}
.single-cat {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    z-index: 1;
    padding: 35px 60px 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 12px;
}
.single-cat .cat-img {
    position: relative;
    margin-bottom: 26px;
    text-align: center;
}
.single-cat .cat-img img {
    margin: 0 auto;
    transform: scale(1);
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    border-radius: 50%;
}
.single-cat .cat-img .numbering {
    color: #fff;
    position: absolute;
    background: #FE5F41;
    width: 59px;
    height: 59px;
    line-height: 59px;
    bottom: 20px;
    border-radius: 50%;
    right: 37px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    font-family: "Mitr",sans-serif;
}
.section-img-bg2 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
.single-cat .cat-cap h5>a{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    text-transform: capitalize;
    color: #000000;
}
.single-cat .cat-cap p {
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    color: #94817E;
    font-size: 16px;
    margin-bottom: 34px;
}
.single-cat .cat-cap a {
    color: #1c165c;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}
.browse-btn {
    color: #FE5F41 !important;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
}
.btn-color{
    color:#fe5f41
}
.btn-color:hover{
    color: #4d312c;
}
.uk-child-width-1-4\@m>* {
    width: 23% !important;
}
/* Tamj thoiwf */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  .tabcontent {
    display: none;}